---
title: Главная
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<section class="hero">

		<button class="btn btn-hero-toggle" type="button">Смотреть видео</button>

		<div class="hero__wrapper">

			<div class="hero-slider">
			
				<article class="hero-slider-slide">
					<div class="hero-slider-slide__wrapper">
						<h2 class="hero-slider-slide__title">Кейтеринг в Минске на лучших условиях</h2>
						<div class="hero-slider-slide__buttons">
							<a href="#" class="btn btn_orange-transparent">Узнать больше</a>
							<button class="btn btn_pink btn-open-app-js" type="button">Заказать услугу</button>
						</div>
					</div>
				</article>

				<article class="hero-slider-slide">
					<div class="hero-slider-slide__wrapper">
						<h2 class="hero-slider-slide__title">Корпоративы и праздники любого формата</h2>
						<div class="hero-slider-slide__buttons">
							<a href="#" class="btn btn_orange-transparent">Узнать больше</a>
							<button class="btn btn_pink btn-open-app-js" type="button">Заказать услугу</button>
						</div>
					</div>
				</article>

				<article class="hero-slider-slide">
					<div class="hero-slider-slide__wrapper">
						<h2 class="hero-slider-slide__title">Прокат аксессуаров для любого торжества</h2>
						<div class="hero-slider-slide__buttons">
							<a href="#" class="btn btn_orange-transparent">Узнать больше</a>
							<button class="btn btn_pink btn-open-app-js" type="button">Заказать услугу</button>
						</div>
					</div>
				</article>

				<article class="hero-slider-slide">
					<div class="hero-slider-slide__wrapper">
						<h2 class="hero-slider-slide__title">Выпускные вечера для школьников и студентов!</h2>
						<div class="hero-slider-slide__buttons">
							<a href="#" class="btn btn_orange-transparent">Узнать больше</a>
							<button class="btn btn_pink btn-open-app-js" type="button">Заказать услугу</button>
						</div>
					</div>
				</article>

			</div>

		</div>
		
		<div class="hero-video">
			<video class="hero-video__video" src="video/video.mp4" autoplay loop muted></video>
		</div>
	</section>
	
	<div class="header-index">
		{% include "partials/_header.html" %}
	</div>
	
	<section class="screen-features">
		<div class="screen-features-title">
			<div class="container">
				<h2 class="screen-features-title__title">Наши преимущества</h2>
			</div>
		</div>

		<div class="container">
			<ul class="screen-features__list features-list">

				<li class="features-list-li">
					<h2 class="features-list-li__title">Профессионалы</h2>
					<div class="features-list-li__text">Наша команда – не просто специалисты, а профессионалы</div>
				</li>

				<li class="features-list-li">
					<h2 class="features-list-li__title">Хорошие праздники</h2>
					<div class="features-list-li__text">Мы делаем только хорошие праздники, независимо от вашего бюджета</div>
				</li>

				<li class="features-list-li">
					<h2 class="features-list-li__title">Особенность</h2>
					<div class="features-list-li__text">Наша особенность – чуткость и умение слышать Вас</div>
				</li>

				<li class="features-list-li">
					<h2 class="features-list-li__title">Отличные предложения</h2>
					<div class="features-list-li__text">Мы предлагаем конкретные вещи, а не абстрактные проекты</div>
				</li>

				<li class="features-list-li">
					<h2 class="features-list-li__title">Активны и креативны</h2>
					<div class="features-list-li__text">Мы знаем, как превратить ваши смелые мечты в реальность</div>
				</li>

				<li class="features-list-li">
					<h2 class="features-list-li__title">Забота о наших гостях</h2>
					<div class="features-list-li__text">Мы думаем и заботимся о каждом госте на наших праздниках</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="screen screen-events">
		<div class="container no-padding">
			
			<h2 class="screen__title padding">Организуем мероприятия любого формата и масштаба</h2>

			<div class="screen__wrapper">
				
				<article class="screen-events__event event">
				<div class="event__wrapper">
						<img src="img/event-1.jpg" alt="" class="event__img">

						<h2 class="event__title">Корпоративные мероприятия и тимбилдинги</h2>

						<button class="btn btn_orange btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

				<article class="screen-events__event event">
					<div class="event__wrapper">
						<img src="img/event-2.jpg" alt="" class="event__img">

						<h2 class="event__title">Свадьбы</h2>

						<button class="btn btn_pink btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

				<article class="screen-events__event event">
					<div class="event__wrapper">
						<img src="img/event-3.jpg" alt="" class="event__img">

						<h2 class="event__title">Частные мероприятия</h2>

						<button class="btn btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

				<article class="screen-events__event event">
					<div class="event__wrapper">
						<img src="img/event-4.jpg" alt="" class="event__img">

						<h2 class="event__title">Выпускные вечера</h2>

						<button class="btn btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

				<article class="screen-events__event event">
					<div class="event__wrapper">
						<img src="img/event-5.jpg" alt="" class="event__img">

						<h2 class="event__title">Концерты, выставки и фестивали</h2>

						<button class="btn btn_orange btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

				<article class="screen-events__event event">
					<div class="event__wrapper">
						<img src="img/event-6.jpg" alt="" class="event__img">

						<h2 class="event__title">Бизнес-форумы</h2>

						<button class="btn btn_pink btn_event btn-open-calabration-js" type="button">Забронировать дату</button>
					</div>
				</article>

			</div>

		</div>
	</section>

	<section class="screen screen-services">
		<div class="container no-padding">
			
			<h2 class="screen__title padding">Предлагаем всё, что нужно для идеального праздника</h2>

			<div class="screen__wrapper screen__wrapper_center">
				<article class="screen-services__service service">
					<div class="service__wrapper">
						<img src="img/service-1.png" alt="" class="service__img">

						<h2 class="service__title">Подбор площадки</h2>
					</div>
				</article>

				<article class="screen-services__service service">
					<div class="service__wrapper">
						<img src="img/service-2.png" alt="" class="service__img">

						<h2 class="service__title">Оформление
пространства</h2>
					</div>
				</article>

				<article class="screen-services__service service">
					<div class="service__wrapper">
						<img src="img/service-3.png" alt="" class="service__img">

						<h2 class="service__title">Разработка меню</h2>
					</div>
				</article>

				<article class="screen-services__service service">
					<div class="service__wrapper">
						<img src="img/service-4.png" alt="" class="service__img">

						<h2 class="service__title">Ведущий</h2>
					</div>
				</article>

				<article class="screen-services__service service">
					<div class="service__wrapper">
						<img src="img/service-5.png" alt="" class="service__img">

						<h2 class="service__title">Шоу-программы</h2>
					</div>
				</article>
			</div>

			<h2 class="screen__title padding">а также бонусы для наших клиентов</h2>

			<div class="screen__wrapper screen__wrapper_center">
				<article class="screen-services__service screen-services__service_bonus service service_bonus">
					<div class="service__wrapper">
						<img src="img/bonus-1.png" alt="" class="service__img">

						<h2 class="service__title service__title_bonus">Флеш-мобы</h2>
					</div>
				</article>

				<article class="screen-services__service screen-services__service_bonus service service_bonus">
					<div class="service__wrapper">
						<img src="img/bonus-2.png" alt="" class="service__img">

						<h2 class="service__title service__title_bonus">Фотозоны</h2>
					</div>
				</article>

				<article class="screen-services__service screen-services__service_bonus service service_bonus">
					<div class="service__wrapper">
						<img src="img/bonus-3.png" alt="" class="service__img">

						<h2 class="service__title service__title_bonus">Бонусы от шеф-повара</h2>
					</div>
				</article>
			</div>
			<div class="btn-wrapper">
				<button class="btn btn_big btn_pink-hover btn-open-app-js" type="button">Заказать праздник</button>
			</div>
		</div>
	</section>

	<section class="screen screen-big-event">
		<div class="container no-padding">
			<div class="screen-big-event__block-gallery block-gallery">
				<div class="block-gallery__wrapper">
					<div class="block-gallery__col block-gallery__col_66">
						<img src="img/project-1.jpg" alt="" class="block-gallery__img">
					</div>
					<div class="block-gallery__col block-gallery__col_33">
						<img src="img/project-2.jpg" alt="" class="block-gallery__img">
					</div>
					<div class="block-gallery__col block-gallery__col_33">
						<img src="img/project-3.jpg" alt="" class="block-gallery__img">
					</div>
					<div class="block-gallery__col block-gallery__col_33">
						<img src="img/project-4.jpg" alt="" class="block-gallery__img">
					</div>
					<div class="block-gallery__col block-gallery__col_33">
						<img src="img/project-5.jpg" alt="" class="block-gallery__img">
					</div>
				</div>

				<div class="block-gallery-soc">
					<div class="block-gallery-soc__text">Поделись с друзьями!</div>
					<ul class="block-gallery-soc__list soc-list">
						<li class="soc-list-li">
							<a href="#" class="soc-list-li-link">
								<img src="img/soc-g.png" class="soc-list-li-link__img" alt="">
							</a>
						</li>

						<li class="soc-list-li">
							<a href="#" class="soc-list-li-link">
								<img src="img/soc-im.png" class="soc-list-li-link__img" alt="">
							</a>
						</li>

						<li class="soc-list-li">
							<a href="#" class="soc-list-li-link">
								<img src="img/soc-fb.png" class="soc-list-li-link__img" alt="">
							</a>
						</li>

						<li class="soc-list-li">
							<a href="#" class="soc-list-li-link">
								<img src="img/soc-ok.png" class="soc-list-li-link__img" alt="">
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="screen-big-event__info info">
				<div class="info__subtitle">Скоро на нашей event-площадке:</div>
				<h2 class="info__title">Свадебный проект "ПОГРУЖЕНИЕ"</h2>

				<ul class="info-list">

					<li class="info-list-li">
						<div class="info-list-li__title">Хотите провести праздник в необычном месте?</div>
						<div class="info-list-li__text">Для вас - презентация наилучших площадок</div>
					</li>

					<li class="info-list-li">
						<div class="info-list-li__title">Надоели однообразные меню на свадьбах?</div>
						<div class="info-list-li__text">Наш шеф-повар представит для вас свои лучшие блюда</div>
					</li>

					<li class="info-list-li">
						<div class="info-list-li__title">Хотите оригинальный сценарий для своего праздника?</div>
						<div class="info-list-li__text">Мы расскажем о последних тенденциях и поделимся интересными идеями</div>
					</li>

					<li class="info-list-li">
						<div class="info-list-li__title">А также мы предложим оригинальные идеи  оформления пространства главного события вашей жизни</div>
					</li>

				</ul>

				<h2 class="info__title info__title_margin">Эволюция в проведении главного события Вашей жизни!</h2>

				<div class="btn-wrapper">
					<div class="btn btn_big btn_pink-hover btn-open-app-js">Принять участие в проекте</div>
				</div>
			</div>
		</div>
	</section>

	<section class="screen screen-gallery">
		<div class="container">
			<h2 class="screen__title">Как проходят наши праздники</h2>
		</div>

		<div class="screen-gallery-gallery index-gallery">
				
			<div class="index-gallery__col index-gallery__col_40">

				<div class="index-gallery__row">
					<div class="index-gallery-img index-gallery-img_video">
						<img data-src="video/video.mp4" class="index-gallery-img__img" src="img/index-gallery-1.jpg">
						<video src="video/video.mp4" poster="img/index-gallery-1.jpg" class="index-gallery-img__video" controls></video>
					</div>
				</div>

				<div class="index-gallery__row">
					<div class="index-gallery__col index-gallery__col_50">
						<a href="img/index-gallery-5.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
							<img class="index-gallery-img__img" src="img/index-gallery-5.jpg" alt="">
							<div class="index-gallery-img__overlay">
								Название мероприятия
							</div>
						</a>
					</div>

					<div class="index-gallery__col index-gallery__col_50">
						<a href="img/index-gallery-6.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
							<img class="index-gallery-img__img" src="img/index-gallery-6.jpg" alt="">
							<div class="index-gallery-img__overlay">
								Название мероприятия
							</div>
						</a>
					</div>
				</div>

			</div>

			<div class="index-gallery__col index-gallery__col_40">

				<div class="index-gallery__row">
					<div class="index-gallery__col index-gallery__col_50">
						<a href="img/index-gallery-2.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
							<img class="index-gallery-img__img" src="img/index-gallery-2.jpg" alt="">
							<div class="index-gallery-img__overlay">
								Название мероприятия
							</div>
						</a>
					</div>

					<div class="index-gallery__col index-gallery__col_50">
						<a href="img/index-gallery-3.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
							<img class="index-gallery-img__img" src="img/index-gallery-3.jpg" alt="">
							<div class="index-gallery-img__overlay">
								Название мероприятия
							</div>
						</a>
					</div>
				</div>

				<div class="index-gallery__row">
					<a href="img/index-gallery-7.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
						<img class="index-gallery-img__img" src="img/index-gallery-7.jpg" alt="">
						<div class="index-gallery-img__overlay">
							Название мероприятия
						</div>
					</a>
				</div>

			</div>

			<div class="index-gallery__col index-gallery__col_20">
				<a href="img/index-gallery-4.jpg" data-lightbox="gallery" data-title="Название мероприятия" class="index-gallery-img">
					<img class="index-gallery-img__img" src="img/index-gallery-4.jpg" alt="">
					<div class="index-gallery-img__overlay">
						Название мероприятия
					</div>
				</a>
			</div>

		</div>

		<div class="container">
			<div class="btn-wrapper">
				<a href="gallery.html" class="btn btn_pink-hover">Смотреть ещё</a>
			</div>
		</div>
	</section>

	<section class="screen screen-reviews">
		<div class="container">
			<h2 class="screen__title">Отзывы</h2>

			<div class="screen-reviews__wrapper">
				<div class="screen-reviews__slider reviews-slider">
					
					<div class="reviews-slider__slide reviews-slider-slide">
						<div class="reviews-slider-slide__text">
							Спасибо за отличные закуски, всё свежее, вкусное, на начинку не скупитесь :)) Пирожки просто супер. К оговоренному времени всё было готово. Небольшой минус: на картинке мини сэндвичи румяные, по факту обычный... <a href="reviews.html" class="reviews-slider-slide__read-more">Читать далее</a>
						</div>
						<div class="reviews-slider-slide__footer">
							Маша, 12.05.2018
						</div>
					</div>

					<div class="reviews-slider__slide reviews-slider-slide">
						<div class="reviews-slider-slide__text">
							В эти выходные у нас был семейный праздник - это крестины нашей племяшки. Узким семейным кругом мы провели этот вечер в Провансе. Спасибо большое официантке, которая была услужлива и доброжелательна ко всем гостям. И конечно, спасибо повару Александру за вкусные и необычные блюда
						</div>
						<div class="reviews-slider-slide__footer">
							Маша, 12.05.2018
						</div>
					</div>

					<div class="reviews-slider__slide reviews-slider-slide">
						<div class="reviews-slider-slide__text">
							Мой поклон! Вас не узнать!!! С открытием,спасибо Вам за встречу и приятное общение с друзьями...! Будем сотрудничать! Мои гости,Ваши гости!!!
						</div>
						<div class="reviews-slider-slide__footer">
							Маша, 12.05.2018
						</div>
					</div>					

				</div>
			</div>

			<div class="btn-wrapper">
				<a href="reviews.html" class="btn btn_pink-hover">Смотреть ещё</a>
			</div>
		</div>
	</section>

	<div class="screen-lid">
		<div class="container">
			
			<div class="screen-lid__text screen-lid__text_top">Хотите идеальный праздник?</div>
			<button class="btn btn_orange btn-open-app-js" type="button">Оставьте заявку</button>
			<div class="screen-lid__text">Вы мечтаете, мы реализуем!</div>

		</div>
	</div>

	<section class="screen screen-about">
		<div class="container">
			<h2 class="screen__title">О нас</h2>

			<div class="screen-about__wrapper">
				
				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

				<article class="screen-about__worker worker">
					<div class="worker-img">
						<img src="img/about-1.jpg" alt="" class="worker-img__img">
					</div>
					<div class="worker-info">
						<h2 class="worker-info__name">Имя Фамилия</h2>
						<p class="worker-info__text">Краткое описание  Краткое  описание Краткое описание</p>
					</div>
				</article>

			</div>
		</div>
	</section>

{% endblock %}
