<footer class="footer">
	<div class="container">
		
		<div class="footer-logo">
			<a href="index.html" class="footer-logo-link">
				<img src="img/footer-logo.png" alt="" class="footer-logo-link__img">
			</a>
		</div>

		<div class="footer-contacts">
			<a href="tel:+375293600909" class="footer-link">Тел.:   +375(29)360-09-09</a>
			<address class="footer-address">Контактные данные</address>
		</div>

		<nav class="footer-nav">
			<ul class="footer-nav-list">
				<li class="footer-nav-list-li">
					<a href="gallery.html" class="footer-link footer-nav-list-li__link">Портфолио</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="reviews.html" class="footer-link footer-nav-list-li__link">Отзывы</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="#" class="footer-link footer-nav-list-li__link">Услуги</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="#" class="footer-link footer-nav-list-li__link">Корпоративные мероприятия</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="#" class="footer-link footer-nav-list-li__link">Выпускные вечера</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="#" class="footer-link footer-nav-list-li__link">Кейтеринг</a>
				</li>
				<li class="footer-nav-list-li">
					<a href="#" class="footer-link footer-nav-list-li__link">Прокат</a>
				</li>
			</ul>
		</nav>

		<a href="qlab.by" target="_blank" class="footer-link footer-copy">Разработано в Qlab.by</a>

		<ul class="footer-soc soc-list">
			<li class="soc-list-li">
				<a href="#" class="soc-list-li-link">
					<img src="img/soc-g-white.png" class="soc-list-li-link__img" alt="">
				</a>
			</li>

			<li class="soc-list-li">
				<a href="#" class="soc-list-li-link">
					<img src="img/soc-im-white.png" class="soc-list-li-link__img" alt="">
				</a>
			</li>

			<li class="soc-list-li">
				<a href="#" class="soc-list-li-link">
					<img src="img/soc-fb-white.png" class="soc-list-li-link__img" alt="">
				</a>
			</li>

			<li class="soc-list-li">
				<a href="#" class="soc-list-li-link">
					<img src="img/soc-ok-white.png" class="soc-list-li-link__img" alt="">
				</a>
			</li>

			<li class="soc-list-li">
				<a href="#" class="soc-list-li-link">
					<img src="img/soc-yb-white.png" class="soc-list-li-link__img" alt="">
				</a>
			</li>
		</ul>

	</div>
</footer>