<header class="header">
	<div class="container">
		
		<a href="#" class="header-logo">
			<img src="img/header-logo.png" alt="" class="header-logo__img">
		</a>

		<button class="btn-mobile-menu" type="button"><span class="lines"></span></button>

		<div class="mobile-block">
			
			<nav class="header-nav">
				<ul class="header-nav-list">

					<li class="header-nav-list-li">
						<a href="#" class="header-nav-list-li__link">КОРПОРАТИВЫ</a>	
					</li>

					<li class="header-nav-list-li">
						<a href="#" class="header-nav-list-li__link">КЕЙТЕРИНГ</a>	
					</li>

					<li class="header-nav-list-li">
						<a href="#" class="header-nav-list-li__link">ВЫПУСКНЫЕ</a>	
					</li>

					<li class="header-nav-list-li">
						<a href="#" class="header-nav-list-li__link">ПРОКАТ</a>	
					</li>

					<li class="header-nav-list-li">
						<a href="gallery.html" class="header-nav-list-li__link">ГАЛЕРЕЯ</a>	
					</li>

					<li class="header-nav-list-li">
						<a href="reviews.html" class="header-nav-list-li__link">ОТЗЫВЫ</a>	
					</li>

				</ul>
			</nav>

			<div class="header-info">
				<a href="tel:+375456768787" class="header-info__link">Тел. +375(45) 676-87-87</a>
				<button class="btn btn_pink-transparent btn-open-app-js" type="button">Заказать звонок</button>
			</div>

		</div>

	</div>
</header>