<!-- begin overlay -->
<div class="overlay">
  <!-- <button class="overlay__close" type="button">Закрыть<span class="lines"></span></button> -->

	<div class="overlay-content">
	
		<form action="#" method="post" class="overlay-content-form overlay-content-form-call">
			<button class="overlay__close" type="button">Закрыть<span class="lines"></span></button>
		  		<div class="overlay-content-form__title">Оставьте номер телефона, и мы свяжемся с Вами</div>
		  	<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Введите имя</span>
				<input type="text" name="name" class="overlay-content-form-label__input input">
		  	</label>
		  	<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Введите номер телефона*</span>
				<input type="tel" name="tel" class="overlay-content-form-label__input input" required>
			</label>
			<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Оставьте сообщение</span>
				<textarea name="message" class="overlay-content-form-label__input overlay-content-form-label__input_textarea input"></textarea>
		  	</label>

		  	<button class="btn btn-submit">Оставить заявку</button>
		</form>

		<form action="#" method="post" class="overlay-content-form overlay-content-form-app">
			<button class="overlay__close" type="button">Закрыть<span class="lines"></span></button>
		  	<div class="overlay-content-form__title">Оставьте заявку и получите эксклюзивное предложение!</div>
			
			<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Введите имя</span>
				<input type="text" name="name" class="overlay-content-form-label__input input">
		  	</label>
		  	<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Введите номер телефона*</span>
				<input type="tel" name="tel" class="overlay-content-form-label__input input" required>
			</label>
			<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Оставьте сообщение</span>
				<textarea name="message" class="overlay-content-form-label__input overlay-content-form-label__input_textarea input"></textarea>
		  	</label>

			<button class="btn btn-submit">Оставить заявку</button>
		</form>

		<form action="#" method="post" class="overlay-content-form overlay-content-form-calabration">
			<button class="overlay__close" type="button">Закрыть<span class="lines"></span></button>
		  	<div class="overlay-content-form__title">Оставьте заявку и мы с Вами свяжемся!</div>

			<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Выберите дату</span>
		  		<input type="text" name="date" class="overlay-content-form-label__input input input-date" placeholder="Выберите дату">
		  	</label>

		  	<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Введите номер телефона*</span>
				<input type="tel" name="tel" class="overlay-content-form-label__input input" required>
			</label>
			<label class="overlay-content-form-label">
				<span class="overlay-content-form-label__text">Оставьте сообщение</span>
				<textarea name="message" class="overlay-content-form-label__input overlay-content-form-label__input_textarea  input"></textarea>
		  	</label>

		  	<button class="btn btn-submit">Забронировать дату</button>
		</form>

  	</div>
</div>
<!-- end overlay