.screen-big-event
	+image('screen-big-event-bg.png')
	background-repeat: no-repeat
	background-position: right bottom
	.container
		display: flex
		flex-wrap: wrap

	&__block-gallery,
	&__info
		box-sizing: border-box
		padding: 0 15px
		width: 50%
		+r(700)
			width: 100%		

.block-gallery
	+r(700)
		margin-bottom: 40px
	&__wrapper
		margin-bottom: 24px
		display: flex
		flex-wrap: wrap
		+r(700)
			margin-bottom: 20px
		@supports (display: grid)
			display: grid
			grid-gap: 0
			grid-template-columns: 1fr 1fr 1fr
	&__col
		text-align: center
		overflow: hidden		
		width: calc(100% / 3)
		@supports (display: grid)
			width: 100%
		&_66
			width: calc(100% - (100% / 3))
			@supports (display: grid)
				width: 100%
				grid-column: 1 / 3
				+r(1050)
					grid-column: span 3
				+r(700)
					grid-column: span 2
				+r(500)
					grid-column: span 3
		&_33
			&:nth-of-type(2)
				@supports (display: grid)
					+r(1050)
						grid-row: span 3
						grid-column: span 2
					+r(700)
						grid-row: span 1
						grid-column: span 1
					+r(500)
						grid-row: span 3
						grid-column: span 2
	
	&__img
		display: inline-block
		vertical-align: middle
		width: 100%
		height: 100%
		object-fit: cover

.block-gallery-soc
	&__text
		margin-bottom: 12px
		font-family: $got
		font-weight: 700
		+fs(16)
		+lh(16, 24)
		color: rgba($blue, .6)
		+r(700)
			text-align: center
	&__list
		+r(700)
			justify-content: center
			.soc-list-li:last-of-type
				margin-right: 0

.info
	display: flex
	flex-direction: column
	text-align: center
	&__subtitle
		font-family: $got
		font-weight: 700
		+fs(13)
		+lh(13, 24)
		color: rgba($blue, .6)
	&__title
		margin-bottom: 48px
		font-family: $const
		font-weight: 700
		font-style: italic
		+fs(27)
		color: $pink
		+r(1200)
			margin-bottom: 40px
			+fs(25)
		+r(870)
			// margin-bottom: 20px
			+fs(22)
		+r(800)
			+fs(20)
		+r(700)
			margin-bottom: 30px
		&_margin
			margin-top: auto
	&-list
		display: flex
		flex-wrap: wrap
		align-items: center
		&-li
			margin-bottom: 24px
			box-sizing: border-box
			padding: 0 12px
			width: 50%
			+r(1050)
				margin-bottom: 68px
				width: 100%
			+r(920)
				margin-bottom: 50px
			+r(870)
				margin-bottom: 30px
			+r(750)
				margin-bottom: 20px
			+r(700)
				margin-bottom: 25px
			&__title,
			&__text
				margin-bottom: 6px
				+fs(14)
				+lh(14, 20)
				font-weight: 700
				+r(1050)
					+fs(16)
				+r(900)
					+fs(15)
				+r(800)
					+fs(14)
			&__text
				margin-bottom: 0
				color: rgba($blue, .7)
	.btn-wrapper
		margin: 0 auto 0
	.btn
		padding: 0 65px
		+r(800)
			padding: 0 15px